<div class="blog-list container">
  <div class="header">
    <div class="header-title">
      <h2 class="header-title__main shadow-text">Dev Blog</h2>
      <div class="header-title__sub shadow-text">
        Sed posuere consectetur est at lobortis.
      </div>
    </div>
    <div class="header-spacer"></div>
    {{> actions }}
  </div>
  {{#each blogs as |blog|}}
    {{> blog-list-item blog=blog}}
  {{/each}}
</div>
