<div class="center-container">
  <div class="login_card mdl-card mdl-shadow--2dp">
    <form method="post" action="/post/{{postId}}/delete">
      <h4>Are you sure you would like to delete this post?</h4>
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/dashboard">Cancel</a>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit">confirm</button>
    </form>
  </div>
</div>
