{{#> editor-wrapper }}
  <form id="post-form" action="/post/{{ post.id }}/edit" method="post">
    <div class="edit-post__wrapper mdl-card__supporting-text">
      {{> editor-fields }}
    </div>
    <div class="edit-post__actions mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="/dashboard">Cancel</a>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit">Save</button>
    </div>
  </form>
{{/ editor-wrapper}}
