<div class="center-container">
  <div class="login_card mdl-card mdl-shadow--2dp">
    {{#if session.userId }}
      <div class="login__notice">
        <p class="login__notice-text">You are already logged in!</p>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" href="/">Home</a>
      </div>
    {{else}}
      <form method="post" action="/signup">
        {{> login-inputs }}

        {{#if error }}
          <p>{{ error }}</p>
        {{/if}}

        <div class="login__actions">
          <div class="spacer"></div>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" type="submit">Sign Up</button>
        </div>
      </form>
    {{/if}}
  </div>
</div>
