<div class="actions card">
  {{#if session.userId }}
  <p>Welcome {{ session.username }}!</p>
  <button class="btn">New Post</button>
  <button class="btn">My Posts</button>
  <button id="logout-action-btn"  class="btn">Logout</button>
  {{else}}
  <p>Welcome!</p>
  <button id="login-action-btn" class="btn">Log In</button>
  <button id="signup-action-btn" class="btn">Sign Up</button>
  {{/if}}
</div>
