<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Dev Blog</span>
    <div class="mdl-layout-spacer"></div>
    {{> nav-items }}
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Dev Blog</span>
  {{> nav-items }}
</div>
